.mixtable {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  line-height: 30px;
  background: #F8F9F7;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  .icon {
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    font-size: 14px;
  }
  .head {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    line-height: 40px;
    white-space: nowrap;
    border-bottom: 1px solid #D7D7D7;
    z-index: 11;
    height: 35px;
    font-size: 13px;
    .left {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      text-align: center;
      border-right: 1px solid #e5e5e5;
      box-sizing: border-box;
    }
    .middle {
      position: absolute;
      top: 0;
      bottom: 0;
      overflow: hidden;
      box-sizing: border-box;
      .cell {
        padding: 0 10px 0 10px;
        text-align: center;
        border-right: 1px solid #e5e5e5;
        &:last-child {
          border-right: 0;
        }
      }
    }
    .right {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      box-sizing: border-box;
      .cell {
        border-left: 1px solid #e5e5e5;
        text-align: center;
      }
    }
    .cell {
      display: inline-block;
      box-sizing: border-box;
    }
  }
  .body {
    position: absolute;
    left: 0;
    top: 35px;
    right: 0;
    bottom: 0;
    font-size: 12px;
    .left {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      z-index: 10;
      overflow: hidden;
      .cell {
        border-bottom: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        background: white;
        &:nth-of-type(odd) {
          background: #F2F7F7;
        }
        &.active {
          background: #E7F3F9;
        }
      }
    }
    .middle {
      position: absolute;
      top: 0;
      bottom: 0;
      overflow: auto;
      .row {
        white-space: nowrap;
        background: white;
        border-bottom: 1px solid #e5e5e5;
        .cell {
          display: inline-block;
          border-right: 1px solid #e5e5e5;
          padding: 0 10px 0 10px;
          box-sizing: border-box;
          &:last-child {
            border-right: 0;
          }
        }
        &:nth-of-type(odd) {
          background: #F2F7F7;
        }
        &.active {
          background: #E7F3F9;
        }
      }
    }
    .right {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      .cell {
        position: relative;
        border-bottom: 1px solid #e5e5e5;
        border-left: 1px solid #e5e5e5;
        background: white;
        .toolicon {
        }
        .list {
          display: none;
          background: white;
          position: absolute;
          top: 100%;
          right: 50%;
          box-shadow: 0 0 10px #D7D7D7;
          .listitem {
            line-height: 20px;
            font-size: 12px;
            display: flex;
            padding:5px;
            cursor: default;
            .iconc {
              width: 20px;
              text-align: center;
            }
            .name {
              flex-grow: 1;
              padding:0 10px 0 5px;
              text-align: left;
            }
            &:hover{
              background: #e9e9e9;
            }
          }
        }
        &:hover {
          .list {
            display: block;
            z-index: 99;
          }
        }
        &:nth-of-type(odd) {
          background: #F2F7F7;
        }
        &.active {
          background: #E7F3F9;
        }
      }
    }
    .cell {
      box-sizing: border-box;
    }
  }
}