.simpletable{
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background:#FBFBFB;
    .head{
        line-height:35px;
        border-bottom: 1px solid #D7D7D7;
        white-space: nowrap;
        position: absolute;
        left:0;
        top:0;
        right:0;
        background:white;
        z-index: 9;
        .cell{
            padding:0 10px 0 10px;
            display: inline-block;
            vertical-align: top;
        }
    }
    .body{
        position: absolute;
        left:0;
        top:35px;
        right:0;
        bottom:0;
        overflow: auto;
        .row{
            line-height: 30px;
            white-space: nowrap;
            .cell{
                background:white;
                padding:0 10px 0 10px;
                display: inline-block;
                vertical-align: top;
            }
        }
    }
}