.simpletable{
    .head{
        line-height:35px;
        border-bottom: 1px solid #D7D7D7;
        white-space: nowrap;
        .cell{
            padding:0 10px 0 10px;
            display: inline-block;
            vertical-align: top;
        }
    }
    .body{
        .row{
            line-height: 30px;
            white-space: nowrap;
            .cell{
                padding:0 10px 0 10px;
                display: inline-block;
                vertical-align: top;
            }
        }
    }
}