.select {
  position: relative;
  .input {
    line-height: 30px;
    padding: 0 10px 0 10px;
    border: 1px solid #D7D7D7;
    border-radius: 3px;
  }
  .list {
    display: none;
    .item {
      line-height: 20px;
      padding: 0 10px 0 10px;
      white-space: nowrap;
      &:hover {
        background: cornflowerblue;
      }
      &.active {
        background: cornflowerblue;
      }
    }
  }
}