.container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #F6F8F8;
    .icon {
        display: inline-block;
        vertical-align: middle;
        width: 1em;
        height: 1em;
        stroke-width: 0;
        stroke: currentColor;
        fill: currentColor;
        font-size: 15px;
    }
    .head {
        width: 240px;
        line-height: 60px;
        //border-bottom: 1px solid #E0E5E6;
        //background-color:#fff;
        padding: 30px;
        box-sizing: border-box;
        position: relative;
        //box-shadow: 0 0 10px #D7D7D7;
        z-index: 99999;
        .logo {
            height: 60px;
            display: inline-block;
            vertical-align: middle;
            width: 60px;
            .in {
                height: 40px;
                width: 40px;
                margin: 10px;
                background-image: url("./images/ada.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }
        .title {
            display: inline-block;
            vertical-align: middle;
            .a {
                line-height: 25px;
                font-size: 23px;
            }
            .b {
                line-height: 15px;
                font-size: 12px;
            }
        }
        .version{
            text-align: center;
            cursor: default;
            position: absolute;
            left:0;
            right:0;
            line-height:20px;
            .num{
                display: inline-block;
                line-height:20px;
                padding:0 15px 0 15px;
                border-radius: 15px;
                background: #00b400;
                color:white;
                font-size: 12px;
            }
        }
        .git{
            line-height: 18px;
            position: absolute;
            right:45px;
            top:0;
        }
        .npm{
            line-height: 18px;
            position: absolute;
            right:20px;
            top:0;
        }
        a{
            text-decoration: none;
            color:#474F6E;
        }
    }
    .list {
        position: relative;
        .current {
            line-height: 35px;
            margin: 0 10px 10px 10px;
            //border: 1px solid #F1F3F4;
            padding: 0 20px 0 20px;
            border-radius: 20px;
            background: #f1eeee;
        }
        .items {
            position: absolute;
            left: 10px;
            top: 100%;
            background: white;
            box-shadow: 0 3px 15px #cccccc;
            right: 10px;
            border-radius: 10px;
            padding:10px 5px 10px 5px;
            display: none;
            .item {
                line-height: 35px;
                padding: 0 15px 0 15px;
                border-radius: 20px;
                margin:5px 0 5px 0;
                transition:all ease-in-out .3s;
                &:hover{
                    background:#2AA3EF;
                    color:white;
                }
                &.active{
                    background:#2AA3EF;
                    color:white;
                }
            }
        }
        &.open{
            .items{
                display: block;
            }
        }
    }
    .left {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 240px;
        background-color: #FBFBFB;
        z-index: 99999999;
        .copyright{
            line-height:25px;
            font-size: 12px;
            color:#cccccc;
            padding:0 20px 0 20px;
            position: absolute;
            left:0;
            right:0;
            bottom:0;
        }
    }
    .right {
        border-top: 5px solid #2F3240;
        position: absolute;
        left: 240px;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        .mask {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            &:before {
                content: "";
                display: block;
                position: absolute;
                width: 2px;
                top: 0;
                bottom: 10px;
                box-shadow: 0 0 20px black;
                z-index: 99;
                border-radius: 50%;
                left: -2px;
            }
        }
        .content {
            position: absolute;
            left: 200px;
            top: 0;
            right: 0;
            bottom: 0;
            background: white;
            overflow: auto;
        }
        .menu {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 200px;
            background: #fafafa;
        }
    }
}