.container{
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background:#F6F8F8;
    .head{
        line-height:60px;
        //border-bottom: 1px solid #E0E5E6;
        //background-color:#fff;
        padding:30px 30px 20px 30px;
        box-sizing: border-box;
        position: relative;
        //box-shadow: 0 0 10px #D7D7D7;
        z-index: 99999;
        .logo{
            height:60px;
            display: inline-block;
            vertical-align: middle;
            width:60px;
            .in {
                height:40px;
                width:40px;
                margin:10px;
                background-image: url("./images/ada.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }
        .title{
            display: inline-block;
            vertical-align: middle;
            .a{
                line-height:25px;
                font-size: 23px;
            }
            .b{
                line-height: 15px;
                font-size: 12px;
            }
        }
        width:240px;
    }
    .left{
        position: absolute;
        left:0;
        top:0;
        bottom:0;
        width:240px;
        background-color: #FBFBFB;
        z-index: 99999999;
    }
    .right{
        border-top:5px solid #2F3240;
        position:absolute;
        left:240px;
        top:0;
        right:0;
        bottom:0;
        overflow: auto;
        .mask{
            position:absolute;
            left:0;
            top:0;
            right:0;
            bottom:0;
            &:before {
                content: "";
                display: block;
                position: absolute;
                width: 2px;
                top: 0;
                bottom: 10px;
                box-shadow: 0 0 20px black;
                z-index: 99;
                border-radius: 50%;
                left:-2px;
            }
            //&:after {
            //    content: "";
            //    display: block;
            //    position: absolute;
            //    height:2px;
            //    top: -2px;
            //    right:50px;
            //    left: 50px;
            //    box-shadow: 0 0 20px black;
            //    z-index: 99;
            //    border-radius: 50%;
            //}
        }
        .content{
            position: absolute;
            left:180px;
            top:0;
            right:0;
            bottom:0;
            background:white;
            //border-left:1px solid #E0E5E6;
            overflow: auto;
        }
        .menu{
            position: absolute;
            top:0;
            left:0;
            bottom:0;
            width:180px;
            background: #fafafa;
        }
    }
}