.container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    .icon {
        display: inline-block;
        vertical-align: middle;
        width: 1em;
        height: 1em;
        stroke-width: 0;
        stroke: currentColor;
        fill: currentColor;
        font-size: 15px;
    }
    .head {
        width: 240px;
        line-height: 60px;
        padding: 30px 30px 0 30px;
        box-sizing: border-box;
        position: relative;
        z-index: 99999;
        text-align: center;
        .logo {
            height: 40px;
            display: inline-block;
            vertical-align: middle;
            width: 40px;
            margin-right: 6px;
            .in {
                height: 40px;
                width: 40px;
                background-image: url("./images/ada.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }
        .title {
            display: inline-block;
            vertical-align: middle;
            .a {
                line-height: 25px;
                font-size: 23px;
            }
            .b {
                line-height: 15px;
                font-size: 12px;
            }
        }
        .version {
            text-align: center;
            cursor: default;
            line-height: 20px;
            .num {
                display: inline-block;
                line-height: 20px;
                padding: 0 15px 0 15px;
                border-radius: 15px;
                background: #00b400;
                color: white;
                font-size: 12px;
            }
        }
        .links {
            text-align: center;
            line-height: 19px;
            position: absolute;
            bottom: 2px;
            right: 12px;
            .git {
                vertical-align: top;
                display: inline-block;
            }
            .npm {
                vertical-align: top;
                display: inline-block;
                margin-right: 5px;
            }
            a {
                text-decoration: none;
                color: #474F6E;
            }
        }
    }
    .list {
        position: relative;
        margin-top: 10px;
        .current {
            line-height: 35px;
            margin: 0 10px 10px 10px;
            //border: 1px solid #F1F3F4;
            padding: 0 20px 0 20px;
            border-radius: 20px;
            background: #f1eeee;
        }
        .items {
            position: absolute;
            left: 10px;
            top: 100%;
            background: white;
            box-shadow: 0 3px 15px #cccccc;
            right: 10px;
            border-radius: 10px;
            padding: 10px 5px 10px 5px;
            display: none;
            z-index: 999;
            .item {
                line-height: 35px;
                padding: 0 15px 0 15px;
                border-radius: 20px;
                margin: 5px 0 5px 0;
                transition: all ease-in-out .3s;
                &:hover {
                    background: #2AA3EF;
                    color: white;
                }
                &.active {
                    background: #2AA3EF;
                    color: white;
                }
            }
        }
        .arrow {
            position: absolute;
            top: 0;
            right: 10px;
            width: 35px;
            line-height: 35px;
            text-align: center;
            transform: rotate(-90deg);
            transition: ease-in-out .3s;
        }
        &.open {
            .items {
                display: block;
            }
            .arrow {
                transform: rotate(90deg);
            }
        }
    }
    .left {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 240px;
        background-color: #FBFBFB;
        z-index: 99999999;
        .copyright {
            line-height: 25px;
            font-size: 12px;
            color: #cccccc;
            padding: 0 20px 0 20px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
        }
        .con{
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: white;
            z-index: 99;
        }
        .mask {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            &:before {
                content: "";
                display: block;
                position: absolute;
                width: 2px;
                top: 0;
                bottom: 10px;
                box-shadow: 0 0 20px black;
                z-index: 99;
                border-radius: 50%;
                right: 0;
            }
        }
    }
    .right {
        border-top: 5px solid #2F3240;
        position: fixed;
        left: 240px;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        .menu {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 200px;
            background: #fafafa;
            z-index: 99999;
        }
    }
    .gmask {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .1);
        z-index: 9999999;
        display: none;
    }
    .menucon {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        top: 160px;
        overflow: auto;
    }
    .content {
        border-top: 5px solid #2F3240;
        position: relative;
        background: white;
        width: calc(100% - 440px);
        margin-left:240px;
        border-right:1px solid #f3f0f0;
        .menu {
            font-size: 20px;
            position: fixed;
            top: 20px;
            left: 20px;
            display: block;
        }
        .top {
            height: 5px;
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            background-color: #2F3240;
            z-index: 9999999;
        }
    }
}

@media only screen and (max-width: 480px) {
    .container {
        .head{
            width:300px;
            text-align: center;
        }
        .left {
            width: 300px;
            transform: translateX(-330px);
            transition: all ease-in-out .3s;
        }
        .right {
            .menu {
                display: none;
            }
        }
        .content {
            width: 100%;
            margin-left: 0;
            .menu {
                display: block;
            }
        }
        &.open {
            .left {
                transform: translateX(0);
            }
            .gmask {
                display: block;
            }
        }
    }
}