<div class="head">
    <div><input type="text" onkeyup="{{ add() }}" placeholder="input something"/></div>
</div>
{{if data.list.length>0}}
<div class="list">
    {{list data.list as item}}
    <div class="{{ item.active?'item':'item active' }}" onclick="{{ toggle(item) }}">
        <div class="check">
            {{if item.active}}
            <icon class="icon" id="{{ data.checkIcon }}"/>
            {{else}}
            <icon class="icon" id="{{ data.checkBlankIcon }}"/>
            {{/if}}
        </div>
        <div class="title">{{ item.name }}</div>
        <div class="remove" onclick="{{ remove(item) }}"><icon class="icon" id="{{ data.removeIcon }}"/></div>
    </div>
    {{/list}}
</div>
{{else}}
<div class="no-data">
    <div class="inner"><icon class="icon" id="{{ data.listIcon }}"/></div>
</div>
{{/if}}