.rangegroup {
    display: inline-block;
    white-space: nowrap;
    box-shadow: 0 0 10px #d7d7d7;
    .left {
        display: inline-block;
        vertical-align: top;
    }
    .right {
        display: inline-block;
        vertical-align: top;
    }
    .pannel{
        box-shadow: none;
    }
}