<div class="cutter" data-find="cutter"></div>
{{if data.btns.length>0}}
<div class="btns">
    {{list data.btns as btn}}
        {{if btn.action==='open'}}
        <div class="btn">
            <input type="file" onchange="{{ change() }}">
            <i class="{{ ':'+btn.icon }}"></i>
        </div>
        {{else}}
        <div class="tool" onclick="{{ action(btn) }}"><i class="{{ ':'+btn.icon }}"></i></div>
        {{/if}}
    {{/list}}
</div>
{{/if}}
{{if data.mask}}
<div class="mask"><input type="file" onchange="{{ change() }}"></div>
{{/if}}