.logo {
    transform: scale(0.2,0.2);
    padding: 60px;
    border: 1px solid #4F79AE;
    border-radius: 50%;
    display: inline-block;
    .box {
        width: 140px;
        display: inline-block;
        vertical-align: middle;
        text-align: right;
        .top {
            height: 40px;
            background: #4F79AE;
            border-radius: 30px 60px 0 30px;
            width: 120px;
            display: inline-block;
            vertical-align: top;
        }
        .middle {
            height: 40px;
            margin: 10px 0 10px 0;
            border-radius: 60px 0 0 0;
            background: #4F79AE;
        }
        .bottom {
            height: 40px;
            border-radius: 0 0 60px 60px;
            background: #4F79AE;
        }
    }
}