.logo {
    transform: scale(0.1, 0.1);
    padding: 80px;
    display: inline-block;
    position: relative;
    box-shadow: 0 0 10px #676767;
    border-radius: 50%;
    background: white;
    .box {
        width: 140px;
        display: inline-block;
        vertical-align: middle;
        text-align: right;
        .top {
            height: 40px;
            background: #4F79AE;
            border-radius: 30px 60px 0 30px;
            width: 120px;
            display: inline-block;
            vertical-align: top;
        }
        .middle {
            height: 40px;
            margin: 10px 0 10px 0;
            border-radius: 60px 0 0 0;
            background: #4F79AE;
        }
        .bottom {
            height: 40px;
            border-radius: 0 0 60px 60px;
            background: #4F79AE;
        }
    }
    .circle {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border: 10px solid #4F79AE;
        border-radius: 50%;
        animation: rond 2s infinite;
        -webkit-animation: rond 2s infinite;
        &:after {
            content: "";
            display: block;
            width: 40px;
            height: 40px;
            position: absolute;
            background-color: #3D78A7;
            border-radius: 50%;
            top: -40px;
            left: 70px;
        }
    }
    @keyframes rond {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    @-webkit-keyframes rond {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
}