.logo {
    width: 140px;
    text-align: right;
    .top {
        height: 40px;
        background: #4F79AE;
        border-radius: 25px 50px 0 25px;
        width: 120px;
        display: inline-block;
        vertical-align: top;
    }
    .middle {
        height: 40px;
        margin: 10px 0 10px 0;
        border-radius: 50px 0 0 0;
        background: #4F79AE;
    }
    .bottom {
        height: 40px;
        border-radius: 0 0 50px 50px;
        background: #4F79AE;
    }
}