.simpletree {
    font-size: 13px;
    cursor: default;
    .icon {
        display: inline-block;
        vertical-align: middle;
        width: 1em;
        height: 1em;
        stroke-width: 0;
        stroke: currentColor;
        fill: currentColor;
        font-size: 14px;
    }
    .block {
        .item {
            >.head {
                line-height: 25px;
                >.arrow {
                    width:20px;
                    height:25px;
                    text-align: center;
                    display: inline-block;
                    vertical-align: top;
                }
                >.noarrow{
                    width:20px;
                    height:25px;
                    display: inline-block;
                    vertical-align: top;
                    line-height: 25px;
                }
                >.name {
                    display: inline-block;
                    vertical-align: top;
                }
            }
            >.body {
                margin-left: 10px;
                display: none;
            }
            &.opened {
                >.head {
                    >.arrow {
                        transform:rotate(90deg);
                    }
                }
                >.body {
                    display: block;
                }
            }
        }
    }
}