.submenu{
  .title{
    padding:30px 20px 20px 20px;
    color:#cccccc;
  }
  .list{
    padding:0 20px 20px 20px;
    cursor: default;
    .item{
      line-height:30px;
      border-bottom:1px dashed #E0E5E6;
      display: block;
      text-decoration: none;
      color: #666666;
      &:last-child{
        border-bottom: 0;
      }
      &:hover{
        color:#2F3240;
      }
    }
  }
}