<div class="info">
    <div class="btn" onclick="{{ prev() }}"><@icon class='icon' id="{{ data.icons.leftIcon }}"/></div>
    <div class="desc" onclick="{{ showpannel() }}">{{ data.current.year }}/{{ data.current.month }}</div>
    <div class="btn" onclick="{{ next() }}"><@icon class='icon' id="{{ data.icons.rightIcon }}"/></div>
    {{if !data.isToday}}
    <div class="btnin" onclick="{{ today() }}"><@icon class='icon' id="{{ data.icons.backIcon }}"/></div>
    {{/if}}
</div>
<div class="header">
    {{list data.header as top}}
    <div class="cell">{{ top }}</div>
    {{/list}}
</div>
{{list data.days as day}}
<div class="row">
    {{list day as item}}
        {{if item.type==='current'}}
        <div class="{{ item.selected?'col selected':(item.selectedin?'col selectedin':'col') }}" onclick="{{ select(item) }}">
            <div class="{{item.current?'inner current':'inner'}}">{{ item.day }}</div>
        </div>
        {{elseif item.type==='prev'}}
        <div class="disablecol" onclick="{{ prev() }}">
            <div data-type="prev" class="{{item.current?'inner current':'inner'}}">{{ item.day }}</div>
        </div>
        {{else}}
        <div class="disablecol" onclick="{{ next() }}">
            <div data-type="next" class="{{item.current?'inner current':'inner'}}">{{ item.day }}</div>
        </div>
        {{/if}}
    {{/list}}
</div>
{{/list}}
<div class="pannel">
    <div class="top">
        <div class="left">Year</div>
        <div class="right">Month</div>
    </div>
    <div class="inner">
        <div class="left" data-find="scroll">
            {{list data.pannel.years as year}}
            <div class="row">
                {{list year as item}}
                <div class="{{ item.selected?'col selected':'col' }}">
                    <div class="{{ item.current?'wrap current':'wrap' }}" onclick="{{ gotoyear(item) }}">{{ item.year }}</div>
                </div>
                {{/list}}
            </div>
            {{/list}}
        </div>
        <div class="right">
            {{list data.pannel.months as month}}
            <div class="row">
                {{list month as item}}
                <div class="{{ item.selected?'col selected':'col' }}">
                    <div class="{{ item.current?'wrap current':'wrap' }}" onclick="{{ gotomonth(item) }}">{{ item.month }}</div>
                </div>
                {{/list}}
            </div>
            {{/list}}
        </div>
    </div>
    <div class="footer" onclick="{{ closepannel() }}"></div>
</div>