$leftPannelWith: 300px;
$leftHeadHeight: 50px;
$leftHeadBg: #181A1F;
$leftFootHeight: 30px;
$leftBodyFontColor:#A6A6A9;
$leftPannelBg: #292C33;
$rightPannelMarginLeft: 50px;
$rightPannelBg: white;
$rightPannelBodyBg: #F6F7F6;
$rightPannelHeadBorder: #E4E5E4;
