<div class="btns">
    {{list btns as btn}}
    <div class="btn">
        <div class="iconc"><icon id="{{ btn.icon }}" class="icon"/></div>
        <div class="name">{{ btn.name }}</div>
    </div>
    {{/list}}
</div>
<div class="body">
    <thistable @parameter="{{ tableOption }}"></thistable>
</div>
<div class="foot">
    <div class="info">{{ current }}/{{ totalPage }}</div>
    <div class="pages">
        {{list pages as page}}
        {{if page.name==='prev'}}
        <div class="page" onclick="{{ prevpage() }}">
            <icon id="{{ icons.navigateBeforeIcon }}" class="icon"/>
        </div>
        {{elseif page.name==='btn'}}
        <div class="page" onclick="{{ goto(page) }}">
            <div class="{{ page.iscurrent?'current inner':'inner' }}">{{ page.num }}</div>
        </div>
        {{elseif page.name==='dot'&&page.none===false}}
        <div class="dot">...</div>
        {{else}}
        <div class="page" onclick="{{ nextpage() }}">
            <icon id="{{ icons.navigateNextIcon }}" class="icon"/>
        </div>
        {{/if}}
        {{/list}}
    </div>
</div>